//  COLORS
$a:#0E1555;
$b:#4E1184;
$c:#932B77;
$d:#FD367E;
$white: #FAFAFA;
// FONTS
$a-font:'Comfortaa', cursive;;

body{
    background-color:$a;
    background:linear-gradient(to top, $d, $a);
    background-attachment:fixed;
    color:white;
    text-align: center;
    font-family: $a-font;
    
}
.page-container{
    
}
.brand-container{
    position: fixed;
    top: 0;
    left: 2%;
    z-index: 2222;

}
.full-container{
    position: relative;
}
.songs-container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top:33%;
    margin-bottom:15%;
    opacity: 0.0;
    transition:all 1s ease-in;
    .song{
        // border:2px solid white;
        position: relative;
        margin:1%;
        bottom:-200%;
        box-shadow:0px 5px 8px rgba(0,0,0,0.5);
        transition: all 100ms ease-in-out;
        .artwork-container{
            display: flex;
            justify-content: center;
            position: relative;
            height:40rem;
            width:40rem;
            // border:2px solid white;
            overflow:hidden;
            img{
                position: relative;
                width:110%;
                height:110%;
                filter:blur(4px);
                margin:-20%;
                margin-top:-5%;
            }
            .img-overlay{
                height:100%;
                width:100%;
                background-color:rgba(0, 0, 40, 0.6);
                position: absolute;
                top:0;
                left:0;
                bottom:0;
                right:0;
                z-index:2;
            }
        }
        .info-container{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position:absolute;
            bottom:0;
            left:0;
            right:0;
            top:0;
            z-index: 3;
            mix-blend-mode: difference;
        }
        .controls-container{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 3;
                background-color: rgba(0,0,40,0.8);
                opacity:0;
                transition:opacity 1s ease-in-out;
                &:hover{
                    opacity:1;
                }
                .control{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding:7%;
                    &:hover{
                        cursor:pointer;;
                    }
                }
                .add-btn{
                    position: absolute;
                    top: 0;
                    right: 0;
                }
        }
        .progress-container{
            position:absolute;
            top:0;
            bottom:0;
            right:0;
            height:100%;
            width: 100%;
            background-image:url('waves.svg');
            background-position: bottom;
            background-size:100%;
            z-index:6;
    
}
    }
}
.fade-away{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:25%;
    background:linear-gradient(to top, $d, transparent);
    z-index: 300;
}
.fade-away-top{
    position:fixed;
    left:0;
    right:0;
    top:0;
    width:100%;
    height:25%;
    background:linear-gradient(to bottom, $a, transparent);
    z-index: 301;
}
.search-container{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15%;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: all 1s linear;
    :focus{
        outline:none;
    }
    i{
        color: rgba(255,255,255,1);
        overflow: visible;
        padding: 2%;
        &:hover{
        cursor:pointer;
        }
    }
}
.search-bar{
    background-color: transparent;
    border: none;
    font-size: 7rem;
    color: $white;
    margin-left: 20%;
    transition: width 0.1s linear;
    line-height: auto;
}
.nav-horizontal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 100%;
    overflow:hidden;
    bottom: 0;
    right: 0;
    z-index: 1000;
    width:10%;
    transition: all ease-out 1s;
    .action-container{
        flex-grow: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width:100%;
        // background-color:$a;
        // box-shadow: 5px 0px 50px rgba(0, 0, 0, 0.6) inset;
        // border-radius: 0px 0px 0px 200px;

    }
    i{
        z-index:3;
        &:hover{
            cursor:pointer;
        }
    }

}
    .nav-dropped{
        top:0%;

    }
    .nav-raised{
        top:-80%;
    }
   

a{
    color:inherit;
    &:hover{
        color:inherit;
    }
}



.form-control{
    background-color:$white;
    border:none;
    box-shadow: none;
}
.navbar-default{
    background-color:$a;
    color:$d;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    border:none;
    .navbar-toggle{
        color:$d;
        .icon-bar{
            background-color:$white;
        }
    }
    .navbar-brand{
        color:$d;
        font-size: 3rem;

    }
    .navbar-nav{
        li{
            color:$d;
            a{
                color:$d;
                
            }
        }
            .active{
                a{
                     color:$a;
                     background-color:$white;
                &:hover{
                    color:$a;
                    background-color:$white;
                }
                }
               
            }
    }
}
.flex-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    .player-info{
        width:45%;
        .thumbnail-image-container{
            height: 50%;
            width:50%;
            overflow:hidden;
            border-radius:50%;
            box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
            border:4px solid $d;

            img{
                width:100%;
            }
        }
    }
}
.btn-primary{
    background-color: $d;
    color:$a;
    border:none;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.form-group{}
.form-inline{}
.panel{
    color:$d;
    background-color:$a;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    border:none;
    border-radius:0;


    .panel-heading{
        background-color:$a;
        color:$white;
        border-radius:0;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.3);

    }
}
.player-panel{
    background-color:$a;
}




  .navbar-transparent{
        background-color:transparent;
        color:black;
        box-shadow: none;
        .navbar-brand{
            color:$white;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.5)
        }
        .navbar-toggle{
            border:none;
        }
    }




.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:100%;
    width:100%;
  
    .form-container{
        color:$a;
        width:33.3333%;
        margin:2%;
        input{
            font-family: sans-serif;
            background-color:$white;
            box-shadow: 2px 2px 10px rgba(0,0,0,0.3);

        }
    }
}
